*{
    margin: auto 0;
    font-family: "Lato";
}
body {
    margin: 15px;
    background-color: #B2E4E8;
    max-width: 1920px;
    max-height: auto;
  }
.containor{
    max-width: 1144px;
    max-height: 840px;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1144px;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 10px;
    
}
.detail-column{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.text-detail {
    text-align: center;
}

h1 {
    font-size: 64px;
    margin:16px;
}

h3 {
    font-size: 24px;
    margin-bottom: 86px;
}

.bg-bot{
    position: absolute;
    left: 68.03%;
    right: 2.86%;
    top: 65.65%;
    bottom: 5.19%;
    overflow: hidden;
}

img {
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-top: 86px;
}
.icon-column {
    
}

.registeredUsers-column {

}

.registeredPets-column {

}

.Days-column {

}

.ios-column {

}

.android-column {

}